body {
  background-image: url("../img/sea.jpg");
  padding: 80px
  background-size: contain;
  background-attachment: fixed;
  color:white;
  font-size: 110%;
}

#content {
  background-color: slategrey;
  margin: 25px;
  border: double 5px white;
  padding: 40px;
  height: 80vh;
}

#content p {
    margin-right: 400px;
}

.pic {
    position: relative;
    border: groove 10px white;
    float: left;
}

a {
  color: yellow;
}
