body {
  background-image: linear-gradient(cyan, black);
  font-family: "Roboto", sans-serif;
}

header, main, section, footer, nav, aside {
  border: solid 4px black;
  display: flex;
  flex-wrap: wrap;
  background-color: cyan;
}

header {
  font-size: 320%;
  font-weight: bolder;
  padding-left: 410px;
}

main {
  max-height: 600px;
  margin-left: 264px;
  margin-right: 260px;
  flex-direction: column;
  position: relative;
}

nav {
  color: black;
  margin-right: 80%;
  background-color: #20B2AA;
  font-size: 175%;
  line-height: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

footer {
  margin-left: 70%;
  background-color: #20B2AA;


  position: relative;
  bottom: 800px;
}

h1, p {
  padding-left: 10px;
  font-size: 140%;
}
