body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-color: darkgray;
    padding: 25px;
    font-size: 130%;
}

div#content {
    padding: 50px;
    background-color: lightgray;
    border: solid 1px #333333;
    height: 80vh;
}

h1, h2, h3 {
    font-family: "Courier New", monospace;
}

.skate img {
    float: right;
    width: 200px;
    height: auto;
    border-width:thick;
    border-color: black;
}
p.style {
  color: blue;

a {
    text-decoration: none;
    color: cyan;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: underline overline;
}
img:hover {
  width:150%;
  height:150%;
}
