body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-color: darkgray;
    padding: 10px;
    font-size: 130%;
}

div#content {
    padding: 30px;
    background-color: lightblue;
    border: solid 1px #333333;
    height: 80vh;
}

h1, h2, h3 {
    font-family: "Arial", monospace;
}

div#image {
    float: auto;
    height: 50%;
    width: 50%;
    border-width:thin;
    border-color: black;
}

img:hover {
  width:2000px;
  height:1000px;
}
p.style {
  color: blue;

a {
    text-decoration: none;
    color: cyan;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: underline overline;
}
