body {
  font-family: 'Pattaya', sans-serif;
  background-image: url("../img/comet.jpg");
  background-size: cover;
}

#small {
  font-family: 'Pattaya', sans-serif;
  position: relative;
  color: turquoise;
  font-size: 200%;
  margin-bottom: -20px;
  top: 30%;
  word-spacing: 20px;
}

#big {
  font-family: 'Pattaya', sans-serif;
  color: turquoise;
  top: 30%;
  position: relative;
  font-size: 250%;
  word-spacing: 20px;
}

p {
  font-family: 'Quicksand', sans-serif;
  position: relative;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 30%;
}

h1, h2, h3{
    margin-top: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: -1px 2px DarkTurquoise;
  }


#ticket {
  border: 2px solid red;
  background-color: #ff602b;
  width: 150px;
  color: #090033;
  border-radius: 300px;
  font-family: 'Quicksand', sans-serif;
  padding-left: 33px;
  margin-left: 45%;
  top: 30%;
  position: relative;
}
