body {
  font-family: "Lucida Console", Courier, monospace;
  background-image: url("../img/waves.png");
  background-size: contain;
  background-attachment: fixed;
  color:black;
  font-size: 200%;
}
h1, h2, h3 {
    font-family: "Lucida Console", monospace;
  }
div#content{
  font-family: "Courier", monospace;
  background-color: lightblue;
  margin: 25px;
  border: double 5px white;
  padding: 40px;
}


.pic {
    position: relative;
    border: groove 10px white;
    float: left;
    margin: 25px;
    margin-right: 100px;
}

a {
  color: white;
}
a:hover {
  background-color: blue;
}
