body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  background-size: cover;
}

#big {
  background-color: black;
  color: #2a2a2a;
  font-family: 'Roboto', sans-serif;
  font-size: 720%;
  position: relative;
  left: 27%;
  letter-spacing: -7px;
  opacity: 0.7;
  z-index: 10px;
}

#cutoff {
  font-size: 720%;
  font-family: 'Roboto', sans-serif;
  color: #2a2a2a;
 position: relative;
 right: 10%;
 bottom: 750px;
 letter-spacing: -7px;
 z-index: 10px;
 opacity: 0.7;
}

#paragraph {
  font-size: 150%;
  color: #4d4d4d;
  position: relative;
  left: 40%;
  bottom: 50%;
}

#linked {
  color: white;
    position: relative;
    bottom: 640px;
    left: 10%;
    font-size: 80%;
}

#ig {
  color: white;
    position: relative;
    bottom: 670px;
    left: 25%;
    font-size: 80%;
}

#email {
  color: white;
    position: relative;
    bottom: 700px;
    left: 81%;
    font-size: 80%;
}
