#links {
    background-color: #20B2AA;
    margin-left: 5%;
    flex-wrap: wrap;
   justify-content: left;
  }
  body {
  background-color: #DCDCDC;
  }

  header, main, content, links{
    border: 5px dotted white;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
  }

  @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
  content {
  flex-wrap: wrap;
}
  header {
    font-size: 300%;
  }
  main {
    margin-right: 20%;
    flex-wrap: wrap;
    justify-content: right;
  }
  #image {
    max-width: 100%;
    height: auto;
  }
