body {
  background-color: #000080;
  color: #F0FFFF;
}
.col {
  min-height: 200px;
  border: solid 2px white;
}

.col h1, .col h2 {
  text-align: center;
}

.row {
  border: solid 2px white;
}
.img {
  width: 20%;
  text-align: center;
  padding: 200px;
}
